<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- Assume test is the database name -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/CMSC495</property>
        <property name="hibernate.connection.username">db_user</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!-- org.hibernate.HibernateException: No CurrentSessionContext configured! -->
        <property name="hibernate.current_session_context_class">thread</property>

        <!-- Outputs the SQL queries, should be disabled in Production -->
        <property name="hibernate.show_sql">true</property>

        <!-- List of XML mapping files -->
        <mapping class="org.wernest.CMSC495.entities.SampleRow"/>
        <mapping class="org.wernest.CMSC495.entities.UserEntity"/>
        <mapping class="org.wernest.CMSC495.entities.UserToken"/>
        <mapping class="org.wernest.CMSC495.entities.SwotReport"/>
        <mapping class="org.wernest.CMSC495.entities.Strats"/>
        <mapping class="org.wernest.CMSC495.entities.Factors"/>
    </session-factory>
</hibernate-configuration>