<h1 class="header-top">SWOT ANALYSIS</h1>
	
<!-- Adding a row -->
<div class="row">
	<div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
	<div class="col-lg-4 col-md-6 col-sm-8 col-xs-10">
		<div class="container-login-signin">

			<h2 class="text-center lead">Congratulations! <br/>Your account has been created</h2>
			<br/><br/><br/>
    
    		<h4 class="login-after-signin"><a href="/#/login"><u>Login</u></a></h4>
		</div>
	</div>
	<div class="col-lg-4 col-md-3 col-sm-2 col-xs-1"></div>
</div>
		
