<h1 class="header-top">SWOT ANALYSIS</h1>      
            
<nav>
   <ul class="navi">
      <li class="navi-list"><a class="active" href="#">Home</a></li>
      <li class="navi-list"><a href="#">Create New</a></li>
      <li class="navi-list"><a href="#">Logout</a></li>
   </ul>
</nav>


<button class="swot-button button-button">SO</button>
<button class="swot-button button-button">WO</button>
<button class="swot-button button-button">ST</button>
<button class="swot-button button-button">WT</button>      


     
                
<div class="footer">
	<h6>Copyright &copy; 2016 SWOT Analysis</h6>
</div>