<h1 class="header-top">SWOT ANALYSIS</h1>      
            
<nav>
   <ul class="navi">
      <li class="navi-list"><a class="active" href="#">Home</a></li>
      <li class="navi-list"><a href="#">Create New</a></li>
      <li class="navi-list"><a href="#">Logout</a></li>
   </ul>
</nav>
            
<div>
	<p>Instructions:</p>
	<ol>
		<li>Click on each letter box.</li>
		<li>Enter factor, weight and rating.</li>
		<li>Weighted score will be calculated as you fill out each row.</li>
		<li>After you fill all 4 boxes, click submit to generate SWOT report.</li>
	</ol>		
</div>

<button class="swot-button button-button">S</button>
<button class="swot-button button-button">W</button>
<button class="swot-button button-button">O</button>
<button class="swot-button button-button">T</button>      


     
                
<div class="footer">
	<h6>Copyright &copy; 2016 SWOT Analysis</h6>
</div>