<nav-bar></nav-bar>

<div class="instruction">
	<p style="margin-bottom: 5px;">Instructions:</p>
	<ol>
		<li>Click on each letter box.</li>
		<li>Enter factor, weight and rating.</li>
		<li>Weighted score will be calculated as you fill out each row.</li>
		<li>After you fill all 4 boxes, click submit to generate SWOT report.</li>
	</ol>
</div>




<div class="instruction-text">
	<button class="swot-button button-button button1">S</button>
	<button class="swot-button button-button button2">W</button>
	<button class="swot-button button-button button3">O</button>
	<button class="swot-button button-button button4">T</button>
</div>

<div class="form-table" style="width: 80%">
	<table class="form-swot-table">
		<caption>Strengths</caption>
			<tr>
				<th class="th-swot">#</th>
				<th style="width: 450px">Factor</th>
				<th class="th-swot">Weight</th>
				<th class="th-swot">Rating</th>
				<th class="th-swot">Weighted Score</th>
			</tr>
			<tr>
				<td class="td-swot">1</td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
			</tr>
			<tr>
				<td class="td-swot">2</td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
			</tr>
			<tr>
				<td class="td-swot">3</td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
			</tr>
			<tr>
				<td class="td-swot">4</td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
			</tr>
			<tr>
				<td class="td-swot">5</td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
			</tr>
			<tr>
				<td class="td-swot">6</td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
			</tr>
			<tr>
				<td class="td-swot">7</td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
			</tr>
			<tr>
				<td class="td-swot">8</td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
			</tr>
			<tr>
				<td class="td-swot">9</td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
			</tr>
			<tr>
				<td class="td-swot">10</td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
				<td class="td-swot"></td>
			</tr>
	</table>
</div>

<div>
<button class="generateSWOT">Generate SWOT</button>
</div>
