<nav-bar></nav-bar>

<h2 class="text-center lead"><b>SWOT RESULTS</b></h2>


<div class="form-table" style="width: 80%">
	<table class="form-swot-table">
		<tr>
			<th class="th-result-rotate-SOp">Your internal score is </th>
			<th class="th-result-title-sp">Strengths S</th>
			<th class="th-result-title-wp">Weaknesses W</th>
			<th class="th-result-rotate-WTp">Your internal status is </th>
		</tr>
		<tr>
			<th class="th-result-rotate-SOp">Your external score is </th>
			<th class="th-result-title-op">Opportunities O</th>
			<th class="th-result-title-tp">Threats T</th>
			<th class="th-result-rotate-WTp">Your external status is </th>
		</tr>
	</table>
</div>

<h2 class="text-center lead"><b>CREATE YOUR STRATEGIES</b></h2>


<div class="instruction-text">
<button class="swot-button button-button button1">SO</button>
<button class="swot-button button-button button2">WO</button>
<button class="swot-button button-button button3">ST</button>
<button class="swot-button button-button button4">WT</button>      
</div>

<div class="form-table" style="width: 80%">
	<table class="form-swot-table-create">
		<caption>Strengths Opportunities</caption>
			<tr>
				<th class="th-create">#</th>
				<th class="th-fac">Strategy</th>
			</tr>
			<tr>
				<td class="td-create">1</td>
				<td class="td-fac"></td>
			</tr>
			<tr>
				<td class="td-create">2</td>
				<td class="td-fac"></td>
			</tr>
			<tr>
				<td class="td-create">3</td>
				<td class="td-fac"></td>
			</tr>
			<tr>
				<td class="td-create">4</td>
				<td class="td-fac"></td>
			</tr>
			<tr>
				<td class="td-create">5</td>
				<td class="td-fac"></td>
			</tr>
	</table>
</div>

<div>
<button class="generateSWOT">Create Strategies</button>
</div>