<nav-bar></nav-bar>

<div class="row">
	<div class="text-center col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 instructionH">
		<h3>Instructions:</h3>
		<ol class="instruction_list">
			<li>Click on each letter box.</li>
			<li>Enter factor, weight and rating.</li>
				<ul>
					<li>Weight scale of 0.0 ~ 1.0</li>
					<li>Rating scale of 3 or 4 for strength/opportunity and 1 or 2 for weakness/threat</li>
				</ul>
			<li>Weighted score will be calculated as you fill out each row.</li>
			<li>After you fill all 4 boxes, click submit to generate SWOT report.</li>
		</ol>
	</div>
</div>


<div ng-controller="TabsController" class="text-center" style="margin: 20px;">
	<div class="row">
		<div class="text-center">
			<button class="swot-button button-button"
					ng-repeat="tab in tabs"
					ng-class="{active:isActiveTab(tab.url)}"
					ng-click="onClickTab(tab)">{{tab.title}}</button>
		</div>
	</div>

	<div class="instruction col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 text-center" ng-controller="CreateSwotController">
		<form id="swotForm">
			<div ng-include="currentTab.url"></div>
			<div class="row col-md-12 col-md-offset-4 text-center" style="margin: 20px;">
					<button class="btn btn-secondary addRowCloseBtn" ng-click="addRow(currentTab.title)">Add Row</button>
			</div>
		</form>
	</div>
	<div class="col-md-12 col-md-offset-4 text-center" ng-controller="CreateSwotController" style="margin: 0 20 0 20px;">
		<button class="btn btn-primary createSWOTBtn" ng-click="saveSwot()">Generate SWOT</button>
	</div>	
</div>


<script type="text/ng-template" id="strength.tpl.html">
	<div class="padding-5px"><h2>Strengths</h2></div>
	<div class="row padding-5px col-lg-12 col-lg-offset-0">
		<div class="col-xs-1">#</div>
		<div class="col-xs-8">Factor</div>
		<div class="col-xs-1">Weight</div>
		<div class="col-xs-1">Rating</div>
		<div class="col-xs-1">Weighted Score</div>
	</div>
	<div class="row col-lg-12 col-lg-offset-0" style="margin-bottom: 10px;" ng-repeat="factor in factors">
		<div class="col-xs-1">
			{{$index + 1}}</div>
		<div class="col-xs-8">
			<input type="text" class="form-control input-sm" ng-model="factor.description"></div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="factor.weight"></div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="factor.rating"></div>
		<div class="col-xs-1">
			{{(factor.rating|number) * (factor.weight|number)}}
		</div>
	</div>
</script>
<script type="text/ng-template" id="weakness.tpl.html">
	<div class="padding-5px"><h2>Weaknesses</h2></div>
	<div class="row padding-5px col-lg-12 col-lg-offset-0">
		<div class="col-xs-1">#</div>
		<div class="col-xs-8">Factor</div>
		<div class="col-xs-1">Weight</div>
		<div class="col-xs-1">Rating</div>
		<div class="col-xs-1">Weighted Score</div>
	</div>
	<div class="row col-lg-12 col-lg-offset-0" style="margin-bottom: 10px;" ng-repeat="weak in weaknesses">
		<div class="col-xs-1">
			{{$index + 1}}</div>
		<div class="col-xs-8">
			<input type="text" class="form-control input-sm" ng-model="weak.description"></div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="weak.weight"></div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="weak.rating"></div>
		<div class="col-xs-1">
			{{(weak.rating|number) * (weak.weight|number)}}
		</div>
	</div>
</script>
<script type="text/ng-template" id="opportunities.tpl.html">
	<div class="padding-5px"><h2>Opportunities</h2></div>
	<div class="row padding-5px col-lg-12 col-lg-offset-0">
		<div class="col-xs-1">#</div>
		<div class="col-xs-8">Factor</div>
		<div class="col-xs-1">Weight</div>
		<div class="col-xs-1">Rating</div>
		<div class="col-xs-1">Weighted Score</div>
	</div>
	<div class="row col-lg-12 col-lg-offset-0" style="margin-bottom: 10px;" ng-repeat="opp in opportunities">
		<div class="col-xs-1">
			{{$index + 1}}</div>
		<div class="col-xs-8">
			<input type="text" class="form-control input-sm" ng-model="opp.description"></div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="opp.weight"></div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="opp.rating"></div>
		<div class="col-xs-1">
			{{(opp.rating|number) * (opp.weight|number)}}
		</div>
	</div>
</script>
<script type="text/ng-template" id="threats.tpl.html">
	<div class="padding-5px"><h2>Threats</h2></div>
	<div class="row padding-5px col-lg-12 col-lg-offset-0">
		<div class="col-xs-1">#</div>
		<div class="col-xs-8">Factor</div>
		<div class="col-xs-1">Weight</div>
		<div class="col-xs-1">Rating</div>
		<div class="col-xs-1">Weighted Score</div>
	</div>
	<div class="row col-lg-12 col-lg-offset-0" style="margin-bottom: 10px;" ng-repeat="threat in threats">
		<div class="col-xs-1">
			{{$index + 1}}</div>
		<div class="col-xs-8">
			<input type="text" class="form-control input-sm" ng-model="threat.description"></div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="threat.weight"></div>
		<div class="col-xs-1">
			<input type="text" class="form-control input-sm" ng-model="threat.rating"></div>
		<div class="col-xs-1">
			{{(threat.rating|number) * (threat.weight|number)}}
		</div>
	</div>
</script>