<nav-bar></nav-bar>


<h2 class="text-center lead"><b>SWOT REPORTS LIST</b></h2>

<div class = "row instruction text-center lead col-md-10 col-md-offset-1 listSwotReports" ng-controller="ListSwotReports" ngshow="showList">
    
    <h4 class="text-center" style="padding: 10px;">You have {{reports.length}} available SWOT reports</h4>
    <h5 class="text-center">Click to view</h5>
    <p class="text-center">
    </p>
    <div ng-repeat="report in reports" class="text-center col-md-8 col-md-offset-2 bullet" style="padding-top: 10px;">
    <ul>
        <li><img src="img/arrow.png"> <a ng-href="/#/dashboard/view/{{report.id}}">Report {{report.id}} was created on

            {{ report.creationDate | date:'MM/dd/yyyy @ h:mma' }}</a></li>
    </ul>
    </div>
</div>
