<nav-bar></nav-bar>

<div class = "listSwotReports" ng-controller="ListSwotReports" ngshow="showList">
    <h2 class="text-center lead"><b>SWOT REPORTS LIST</b></h2>
    <h5 class="view-report">You have x available SWOT reports</h5>
    <h5 class="view-report">Click to view</h5>
    <p class="text-center">
        <small ng-show="reports.length < 1"> (It worked, it's just empty)</small>
    </p>
    <div ng-repeat="report in reports" class="text-center col-lg-4 col-lg-offset-4">
        Report {{report.id}} was created by {{report.userEntity.username}} on {{report.creationDate}}
    </div>
</div>
