<nav-bar></nav-bar>
<div class="row">
<div ng-controller="SwotController as swot">
	<h2 class="text-center lead"><b>{{ creationDate }}</b></h2>
	<div class="container">
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
		<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
			<div class="row" style="display: flex;">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 view-gray">
					<div class="row view-title padding-5px">{{ user.companyName }}</div>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 view-blue-S">
					<div class="row view-title padding-5px text-style">Strengths&nbsp;&nbsp;&nbsp;&nbsp;S</div>
					<div class="row padding-left" ng-repeat="factor in strengths">
						{{factor.description}}
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 view-yellow-W">
					<div class="row view-title padding-5px text-style">Weaknesses&nbsp;&nbsp;&nbsp;&nbsp;W</div>
					<div class="row padding-left" ng-repeat="factor in weaknesses">
						{{factor.description}}
					</div>
				</div>
			</div>

			<div class="row" style="display:flex">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 view-green-O">
					<div class="row view-title padding-5px text-style">Opportunities&nbsp;&nbsp;&nbsp;&nbsp;O</div>
					<div class="row padding-left" ng-repeat="factor in opportunities">
						{{factor.description}}
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 view-purple-I">
					<div class="row view-title text-style padding-5px">SO strategies</div>
					<div class="row padding-left" ng-repeat="strat in so">
						{{strat.description}}
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 view-purple-II">
					<div class="row view-title text-style padding-5px">WO strategies</div>
					<div class="row padding-left" ng-repeat="strat in wo">
						{{strat.description}}
					</div>
				</div>
			</div>

			<div class="row" style="display:flex">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 view-red-T">
					<div class="row view-title padding-5px text-style">Threats&nbsp;&nbsp;&nbsp;&nbsp;T</div>
					<div class="row padding-left" ng-repeat="factor in threats">
						{{factor.description}}
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 view-purple-I-2ndRow">
					<div class="row view-title text-style padding-5px">ST strategies</div>
					<div ng-repeat="strat in st">
						<div class="row padding-left">
							{{strat.description}}
						</div>						</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 view-purple-II-2ndRow">
					<div class="row view-title text-style padding-5px">WT strategies</div>
					<div class ="row padding-left" ng-repeat="strat in wt">
						{{strat.description}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
	</div>
</div>
</div>