<nav-bar></nav-bar>
	
	<h2 class="text-center lead"><b>REPORT NAME</b></h2>
<div class="form-table" style="width: 80%">
	<table class="form-swot-table" style="width: 100%">
			<tr>
				<th class="th-company">The Organization Name</th>
				<th class="th-pink">Strengths - S</th>
				<th class="th-pink">Weaknesses - W</th>
			</tr>
			<tr>
				<td class="td-company">1</td>
				<td class="td-pink">1</td>
				<td class="td-pink">1</td>
			</tr>
			<tr>
				<th class="th-blue">Opportunities - O</th>
				<th class="th-green">SO strategies</th>
				<th class="th-green">WO strategies</th>
			</tr>
			<tr>
				<td class="td-blue">1</td>
				<td class="td-green">1</td>
				<td class="td-green">1</td>
			</tr>
			<tr>
				<th class="th-blue">Threats - T</th>
				<th class="th-green">ST strategies</th>
				<th class="th-green">WT strategies</th>
			</tr>
			<tr>
				<td class="td-blue">1</td>
				<td class="td-green">1</td>
				<td class="td-green">1</td>
			</tr>
			
	</table>
</div>