.form-error {
    color: #D8000C;
    font-size: 14px;
    font-weight: bold;
}

.has-error{
	color: #D8000C;
	border: 2px #D8000C;
}

.header-top {
	padding-left: 2cm;
	padding-bottom: 1cm;
	padding-top: 1cm;
	font-color: #000099;
	font-family: 'Arimo', sans-serif;
	font-weight: bold;
}

.body-class {
   background-image: url("img/background.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}

.container-login-signin { 
   border-radius: 10px;
   background-color: #f2f2f2;
   background: rgba(255, 255, 255, 0.3);
   padding: 20px;
   box-shadow: 20px 20px 20px;
   text-align: center;
}

.textField {
	margin-bottom: 5px;
}

.no-account-signupH {
	text-align: center;
	font-size: 14px;
	outline: none;
}

.navi {
	list-style-type: none;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: #262626;
	padding-left: 2cm;
}

.navi-list {
	float: left;
}

.navi-list a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: pointer;
}

.navi-list a:hover {
	background-color: #111;
}

.footer {
	font-style: italic;
	padding: 100 0 10px;
}

.view-report {
	text-align: center;
	padding: 0;
}

.swot-button {
	background-color: #b3d1ff;
	border: none;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 20px 8px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	cursor: pointer;
}

.button-button {
	background-color: #b3d1ff;
	color: black;
	background:rgba(255,255,255,0.5);
	border-radius: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	outline: none;
}

.button-button:hover {
	background-color: #99c2ff;
	color: gray;
	background:rgba(255,255,255,0.9);
	outline: none;
}

.login-after-signin {
	text-align: center;
	font-family: 'Arimo', sans-serif;
	outline: none;
}

.instruction {
	background-color: #f2f2f2;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	margin-bottom: 30px;
}

.instructionH {
	background-color: #f2f2f2;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	text-align: left;
}

.addRowCloseBtn {
	background: transparent;
	background-color: #99c2ff;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	color: white;
	outline: none;
}

.addRowCloseBtn:hover {
	background: transparent;
	background-color: #66a3ff;
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: white;
	outline: none;
}

.createSWOTBtn {
	background: transparent;
	background-color: #99c2ff;
	border: 1px solid rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	color: white;
	outline: none;
}

.createSWOTBtn:hover {
	background: transparent;
	background-color: #66a3ff;
	border: 1px solid rgba(255, 255, 255, 0.6);
	color: white;
	outline: none;
}

.blueCell {
	border: 1px solid #b3b3b3;
	background-color: #0033cc;
}

.yellowCell {
	border: 1px solid #b3b3b3;
	background-color: #ffff00;
}

.greenCell {
	border: 1px solid #b3b3b3;
	background-color: #33cc33;
}

.redCell {
	border: 1px solid #b3b3b3;
	background-color: #cc0000;
}

.whiteCell {
	border: 1px solid #b3b3b3;
	background-color: #ffffff;
	word-wrap: break-word;
}

.view-title {
	font-size: 18px;
	font-weight: bold;
	word-wrap: break-word;
	text-align: left;
}

.view-gray {
	background-color: #808080;
	border-bottom: solid;
	border-right: solid;
	border-color: #b3b3b3;
	word-wrap: break-word;
	text-align: left;
	font-size: 18px;
	Font-weight: bold;
}

.view-green-O {
	background-color: #33cc33;
	border-bottom: solid;
	border-right: solid;
	border-color: #b3b3b3;
	word-wrap: break-word;
	text-align: left;
}

.view-blue-S {
	background-color: #0033cc;
	border-bottom: solid;
	border-right: solid;
	border-color: #b3b3b3;
	word-wrap: break-word;
	text-align: left;
}

.view-yellow-W {
	background-color: #ffff00;
	border-bottom: solid;
	border-color: #b3b3b3;
	word-wrap: break-word;
	text-align: left;
}

.view-red-T {
	background-color: #cc0000;
	border-right: solid;
	border-color: #b3b3b3;
	word-wrap: break-word;
	text-align: left;
}

.view-orange-I {
	background-color: #ffcc66;
	border-bottom: solid;
	border-right: solid;
	border-color: #b3b3b3;
	word-wrap: break-word;
	text-align: left;
}

.view-orange-II {
	background-color: #ffcc66;
	border-bottom: solid;
	border-color: #b3b3b3;
	word-wrap: break-word;
	text-align: left;
}

.view-orange-I-2ndRow {
	background-color: #ffcc66;
	border-right: solid;
	border-color: #b3b3b3;
	word-wrap: break-word;
	text-align: left;
}

.view-orange-II-2ndRow {
	background-color: #ffcc66;
	border-color: #b3b3b3;
	word-wrap: break-word;
	text-align: left;
}

.instruction_list li {
	padding: 3px;
}

.padding-5px {
	padding: 5px;
}

.text-style {
	font-weight: bold;
	font-size: 22px;
	color: #FFFFFF;
}







